@page
@model BookListRazor.Pages.book_listModel
@{
    ViewData["Title"] = "Book List Page";
}

    <div class="text-center">
        <h1 class="display-4">Books</h1>
        <p>Book List Page</p>
    </div>
